---
const credentials = [
  'Fellow, Chartered Accountants ANZ',
  'Former KPMG and ANZ Banking Group',
  'Board Director, Jesuit Social Services and SuniTAFE',
];
---
<div class="bg-teal-light py-4">
  <p class="mx-auto max-w-[1200px] px-6 text-center text-sm text-grey-500">
    {credentials.map((c, i) => (
      <>
        {i > 0 && <span class="mx-3 text-grey-200">|</span>}
        <span>{c}</span>
      </>
    ))}
  </p>
</div>
